html, body {
  background-color: #292a2b;
  font-family: 'Abril Fatface', cursive;
}
h1 {
  text-align: center;
  padding: 25px;
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: normal;
}
h3 {
  text-align: center;
  padding-top: 25px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: normal;
}
.container {
  display: flex;
  justify-content: center;
}
.cards {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}
blockquote {
  position: relative;
  margin: 50px auto;
}
blockquote .quote {
  position: relative; /* for pseudos */
  color: #e74848;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1;
  margin: 0;
  border: 2px solid #e74848;
  border-radius:20px;
  padding: 25px;
}
blockquote .quote:after {
  content:"";
  position: absolute;
  border: 2px solid #e74848;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -62px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3; 
}
blockquote .quote:before {
  content:"";
  position: absolute;
  width: 80px;
  border: 6px solid #292a2b;
  bottom: -3px;
  left: 50px;
  z-index: 2;
}
blockquote .author {
  position: relative;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 15px;
  z-index: 1;
  margin-left:150px;
  padding-left:12px;
}
blockquote .author:first-letter {
  margin-left:-12px;
}
.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #adadaf;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
